jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean package -- file pom.xml
    - name: deploy Ecomm-app to TomcatServer
      run: curl -v -u admin:admin -T /home/runner/work/EComm/EComm/target/Ecomm.war 'http://3.108.217.234:8080/manager/text/deploy?path=/Ecomm.war'
